{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "ie": "11"
                },

                "exclude": [
                    "@babel/plugin-transform-typeof-symbol"
                ],

                "modules": false
            }
        ]
    ],

    "plugins": [
        "@babel/plugin-external-helpers",
        ["module:transform-modules-eumd", {
            "addModuleExports": true,
            "allowTopLevelThis": true,
            "strictMode": true
        }],
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "React.createElement"
        }],
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-syntax-flow",
        "@babel/plugin-syntax-jsx",
        ["module:transform-sp-jsx", {
            "noVoid": true
        }],
        "@babel/plugin-transform-react-display-name"
    ]
}