{
    "plugins": [
        ["transform-react-jsx", {
            "pragma": "React.createElement"
        }],
        "transform-flow-strip-types",
        "syntax-flow",
        "syntax-jsx",
        ["./bower_components/vrdom/babel-plugin/transform-react-display-name", {
            "pragma": "React.createClass",
            "value": "displayName"
        }]
    ]
}