{
    "plugins": [
        ["transform-react-jsx", {
            "pragma": "React.createElement"
        }],
        "transform-flow-strip-types",
        "syntax-flow",
        "syntax-jsx",
        "transform-react-display-name"
    ]
}